@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F4F8FF;
  font-family: Arial, sans-serif;
  
}
html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
